# appveyor file
# http://www.appveyor.com/docs/appveyor-yml

init:
  - git config --global core.autocrlf input

environment:
  matrix:
    - nodejs_version: 10

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install
  - npm run build

build: off
  
test_script:
  - node --version
  - npm --version
  - cmd: npm test
