!!! 5
html
    head
        title NoFlo
        script(type="text/javascript", src="/js/deps/jquery-1.7.1.min.js")
        script(type="text/javascript", src="/js/deps/jquery-ui-1.8.9.min.js")
        script(type="text/javascript", src="/js/deps/jquery.jsPlumb-1.3.7-all-min.js")
        script(type="text/javascript", src="/js/deps/jquery.countdown.min.js")
        script(type="text/javascript", src="/js/deps/underscore-min.js")
        script(type="text/javascript", src="/js/deps/backbone-min.js")
        script(type="text/javascript", src="/js/network.js")
        link(rel="stylesheet", type="text/css", href="/css/network.css")
        link(rel="stylesheet", type="text/css", href="/css/jquery.countdown.css")
        meta(name="viewport", content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;")
    body
      div#noflo
