body {
    background-color: #eeeeec;
    font-family: "Cantarell", "Verdana", sans-serif;
    padding: 0px;
    margin: 0px;
}

div.component {
    background-color: #2e3436;
    width: 100px;
    height: 60px;
    position: absolute;
    overflow: hidden;
    color: #ffffff;
    border-radius: 2px;
    z-index: 100;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    font-weight: bold;
}

._jsPlumb_endpoint {
    z-index: 120;
}

h1 {
    top: 10px;
    left: 10px;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

#network {
    position: absolute;
    top: 50px;
}

.inPort, .outPort {
    background-color: #d3d7cf;
    border-radius: 2px;
    padding: 1px;
    opacity: 0.7;
    z-index: 110;
}

#uptime {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
}
